KERNEL=="video[0,2,4,8]*",SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="64ab", SYMLINK+="video_high"
KERNEL=="video[0,2,4,8]*",SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="6340", SYMLINK+="video_low"
