KERNEL=="video[0,2,4,8]*",SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="6340", SYMLINK+="video_high"
KERNEL=="video[0,2,4,8]*",SUBSYSTEM=="video4linux", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="9230", SYMLINK+="video_low"
